apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      volumes:
        - name: hello-world-data
          persistentVolumeClaim: 
            claimName: hello-world-data
      containers:
        - name: hello-world
          image: "nginx:{{ .Chart.AppVersion }}"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: hello-world-data
              mountPath: /usr/share/nginx/html
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources.compute | nindent 12 }}
